{% extends "base.html.jinja" %}
{% block title %}DockCure{% endblock %}
{% block content %}
<p>Lorem Ipsum</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0UceJNNGbQ1hU6ttY+dEXmZ0b5jpW9QSkA6ivmnQgYBhF0Zk" crossorigin="anonymous"></script>
{% endblock %}