{% extends "base.html.jinja" %}
{% block title %}DockCure{% endblock %}
{% block content %}
    <div class="p-4">
        <div class="container text-center">
            <img src="{{ url_for('static', filename='images/dockcure.png') }}" alt="DockCure Logo" class="img-fluid mb-4" style="max-width: 200px;">
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="dockerImage" class="form-label">Docker image to scan</label>
                    <input type="text" class="form-control" id="dockerImage" placeholder="ex: ubuntu:latest">
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-primary w-100" id="scanButton">Scan</button>


                    <div class="modal fade" id="scanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-body" id="scanModalContent">
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-warning w-100" id="fixButton">Fix docker image</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Fixable Version</th>
                            <th>CVE</th>
                            <th>Security</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="scanResults">
                        <!-- Données ajoutées dynamiquement -->
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <label for="logs" class="form-label">Logs</label>
                <textarea id="logs" class="form-control" rows="6" readonly></textarea>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}